.errorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  .image404 {
    width: 50%;
    height: 20%;
  }
  .imageRobot {
    width: 50%;
    height: 45%;
  }
}
